:root {
    --text-color: whitesmoke;
    --text-hover-color: rgb(152, 152, 152);
    --desc-text-color: rgb(197, 197, 197);
    --nav-text-hover-color: lime;
    --link-color: rgb(45, 118, 201);
    --dark-link-color: rgb(21, 65, 114);
    --bg-color: rgb(50, 50, 50);
    --top-color: rgb(20, 20, 20);
    --card-color: rgb(31, 31, 31);
}

.bg-dark {
    background-color: var(--bg-color);
}

.white-text {
    color: var(--text-color);
}
