* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

@media (min-width: 630px) {
  .top {
    display: flex;
  }
}
.top {
  box-sizing: border-box;
  background-color: var(--top-color);
  width: 100%;
}

.main-title {
  margin: 0 1rem 00 1rem;

  padding: 1rem 0;

  font-size: 2.5rem;
  text-align: center;
}

.top nav {
  display: flex;
}

.navbar-item {
  display: flex;
  align-items: center;

  padding: 0 15px;

  color: var(--text-color);
  font-size: larger;
  text-decoration: none;

  font-family: "Segoe UI";

  transition: color 0.2s;
}
@media (max-width: 630px) {
  .navbar-item {
    margin-bottom: 1rem;
  }
}
.navbar-item svg {
  fill: var(--text-color);
  transition: fill 0.2s;
}
.navbar-item:hover {
  color: var(--nav-text-hover-color);
}
.navbar-item:hover svg {
  fill: var(--nav-text-hover-color);
}

.projects {
  display: flex;
  flex-direction: column;
}

.submain-title {
  margin: auto;
}

.projects-display {
  display: flex;
  flex-wrap: wrap;
}

.project {
  background-color: var(--card-color);

  border-radius: 10px;

  padding: 10px;
  margin: 20px;
  box-shadow: 0 0 20px 10px #0000002f;
}

.project .description {
  color: var(--desc-text-color);
  font-family: "Segoe UI";
  font-size: 1.2rem;
}

.project-name {
  color: var(--text-color);
  font-family: "Fira code";
  text-decoration: underline;
  text-align: center;

  margin: auto;

  transition: color 0.1s;
}
.project-name:hover {
  color: var(--text-hover-color);
}
@media (min-width: 426px) and (max-width: 630px) {
  .project-name {
    font-size: 1rem;
  }
}
@media (min-width: 631px) {
  .project-name {
    font-size: 1.5rem;
  }
}

.project-name h2 {
  word-break: break-word;
}

@media (max-width: 630px) {
  .project .image {
    width: 100%;
    height: auto;
  }
}
@media (min-width: 631px) {
  .project .image {
    width: auto;
    height: 200px;
  }
}

.project .image {
  background-color: white;
}

.image-popup:hover {
  cursor: zoom-in;
}

.link {
  text-decoration: none;
  color: var(--link-color);
}
.link:hover {
  text-decoration: underline;
}
.link-to-run {
  font-family: "Fira code";
  font-size: 16px;

  height: 42px;

  margin: 5px;
  padding: 10px;

  float: right;

  border: none;
  border-radius: 5px;

  color: var(--text-color);
  background-color: var(--link-color);
}
.link-to-run:hover {
  cursor: pointer;

  color: var(--text-hover-color);
  background-color: var(--dark-link-color);
}
.archived-badge {
  font-family: "Fira code";
  font-size: 16px;

  margin: 5px;
  padding: 10px 10px 8px 10px;
  float: left;

  border: 3px solid var(--badge-color);
  border-radius: 5px;

  color: var(--text-color);
}
@media (max-width: 325px) {
  .archived-badge {
    font-size: 14.5px;
  }
}
